In [11]:
import pandas as pd
import gmaps
import ipywidgets as widgets
import widgetsnbextension as nb
import gmaps.datasets
import requests

#import API key
from config import g_key

gmaps.__version__, widgets.__version__

('0.9.0', '7.6.3')

In [12]:
#jupyter nbextension list

In [22]:
#import ipywidgets as widgets
#widgets.IntSlider()

In [14]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather Data/cities.csv")
#city_data_df.head()

In [15]:
# IMPORTANT: when using gmaps, dtypes we use must be either integers or floats

In [16]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [17]:
# create a max temp heat map

In [18]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [19]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []

#for temp in max_temp:
 #   temps.append(max(temp, 0))

In [29]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp] ,dissipating=False, max_intensity=300, point_radius=3)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# float(input())  prompt the user to enter the minimum and maximum temperature ranges as floating-point decimal numbers

In [44]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [45]:
# create a new DataFrame from the temp range that has been inputted

In [46]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                        (city_data_df["Max Temp"] > min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Hambantota,LK,2021-07-24 15:40:20,6.1241,81.1185,79.14,89,75,5.75
6,6,Hithadhoo,MV,2021-07-24 15:39:28,-0.6000,73.0833,82.72,77,66,12.17
11,11,Tura,IN,2021-07-24 15:41:40,25.5198,90.2201,76.28,94,33,5.93
16,16,Bethel,US,2021-07-24 15:40:27,41.3712,-73.4140,82.02,55,1,1.01
17,17,Hohhot,CN,2021-07-24 15:41:42,40.8106,111.6522,77.29,61,0,4.47

In [47]:
preferred_cities_df.count()

City_ID       201
City          201
Country       199
Date          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

In [73]:
# drop all rows w null data

preferred_cities_df = preferred_cities_df.dropna()

In [78]:
preferred_cities_df.count()  # NaN rows dropped

City_ID       199
City          199
Country       199
Date          199
Lat           199
Lng           199
Max Temp      199
Humidity      199
Cloudiness    199
Wind Speed    199
dtype: int64

In [79]:
# create a new dataFrame specifically for data neededn to create a heat map and popup markers

In [80]:
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                      City Country  Max Temp      Lat       Lng Hotel Name
5               Hambantota      LK     79.14   6.1241   81.1185
6                Hithadhoo      MV     82.72  -0.6000   73.0833
11                    Tura      IN     76.28  25.5198   90.2201
16                  Bethel      US     82.02  41.3712  -73.4140
17                  Hohhot      CN     77.29  40.8106  111.6522
18               Jamestown      US     79.02  42.0970  -79.2353
23                   Beyla      GN     75.36   8.6833   -8.6333
24  Santa Maria Da Vitoria      BR     83.57 -13.3947  -44.1886
31           West Wendover      US     79.81  40.7391 -114.0733
35                   Yumen      CN     79.32  40.2833   97.2000

In [81]:
hotel_df.count()

City          199
Country       199
Max Temp      199
Lat           199
Lng           199
Hotel Name    199
dtype: int64

In [82]:
#for Hotel Search, we'll use these parameters:
# - API Key
# - Latitude and Longitude
# - 5000m radius
# - Type of Place

In [83]:
# Setting parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",  # Hotel is not a class type
    "key": g_key        # API key
}

In [84]:
# iterate through DataFrame

In [104]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    # add Lat and Lng to a locations key in the params dictionary
    params["location"] = f"{lat},{lng}"
     # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [86]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Hambantota,LK,79.14,6.1241,81.1185,Bungalow 63
6,Hithadhoo,MV,82.72,-0.6000,73.0833,Scoop Guest House
11,Tura,IN,76.28,25.5198,90.2201,Hotel RIKMAN Continental
16,Bethel,US,82.02,41.3712,-73.4140,Courtyard by Marriott Danbury
17,Hohhot,CN,77.29,40.8106,111.6522,Sheraton Hohhot Hotel
18,Jamestown,US,79.02,42.0970,-79.2353,Hampton Inn & Suites Jamestown
23,Beyla,GN,75.36,8.6833,-8.6333,DIAN SINKO
24,Santa Maria Da Vitoria,BR,83.57,-13.3947,-44.1886,Pousada Rio Current
31,West Wendover,US,79.81,40.7391,-114.0733,"Motel 6 Wendover, UT"
35,Yumen,CN,79.32,40.2833,97.2000,

In [87]:
# add pop-up markers w hotel info to a heat map

In [92]:
# max temp heat map using hotel_df
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
#fig

In [105]:
# gmaps documentation on how to add markers:
'markers = gmaps.marker_layer(marker_locations)', where the 'marker_locations' are latitudes and longitudes

SyntaxError: invalid syntax (<ipython-input-105-8e9dc4dad7ce>, line 2)

In [106]:
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [107]:
# now we add a Pop-Up marker for ea. city that displays hotel name, city name, country, and Max temp

In [108]:
info_box_template = """
<dl>         
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [102]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]