## Deliverable 3. Create a Travel Itinerary Map.

In [90]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config_copy import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation copy.csv")
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,1,Bambous Virieux,MU,75.22,-20.3428,57.7575,few clouds,Casa Tia Villa
1,2,Hasaki,JP,77.29,35.7333,140.8333,overcast clouds,Hotel Sunrise Choshi
2,4,San Patricio,US,81.84,28.0170,-97.5169,broken clouds,"Motel 6 Sinton, TX"
3,15,Salalah,OM,82.49,17.0151,54.0924,broken clouds,HAMDAN PLAZA HOTEL SALALAH
4,19,Atuona,PF,77.41,-9.8000,-139.0333,scattered clouds,Villa Enata

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>    
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_info = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure
locations_info = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations_info, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations_info, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == 'Texas City')]
vacation_end = vacation_df.loc[(vacation_df["City"] == 'Texas City')]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == 'San Patricio')]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == 'Kingsville')] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == 'Uvalde')]
vacation_start

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
50,205,Texas City,US,80.98,29.3838,-94.9027,clear sky,Comfort Inn & Suites Texas City

In [20]:
import numpy as np

In [89]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [103]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
route = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode ='DRIVING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [108]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,205,Texas City,US,80.98,29.3838,-94.9027,clear sky,Comfort Inn & Suites Texas City
1,4,San Patricio,US,81.84,28.0170,-97.5169,broken clouds,"Motel 6 Sinton, TX"
2,318,Kingsville,US,80.82,27.5159,-97.8561,fog,Econo Lodge Kingsville
3,228,Uvalde,US,77.18,29.3669,-99.7670,mist,NaN

In [109]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>    
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [112]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure
locations = itinerary_df[["Lat","Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))